.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  position: relative;
  
}

.header {
 
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display:flex;
  position:relative;
  align-items: center;
  
	overflow: hidden;
  border: 2px solid red;
  /* выше установили ограничения для секции */
}
.logo_place_header{
  width:183px;
  height:32px;
  position:absolute;
  top:30px;
  left:64px;
  
    
  border: 2px solid red;
  
}
.header__title{
  
  border: 2px solid red;
  position: relative;
  
  line-height: 96px;
  font-size: 102px;
	font-weight: 600;
	margin: 0;
  margin-left: 64px;
	max-width: 730px;
	width: 100%;
	z-index: 1;

  
  
}
.header__subtitle{
  
  position: absolute;
	margin: 0;
  left: 64px;
  bottom: 30px;
	max-width: 388px;
	width: 100%;
  line-height: 25px;
	font-size: 18px;
	z-index: 1;
  border: 2px solid red;
}
.header__main-illustration{
  width:608px;
  position:absolute;
  right: 0;
	bottom: 0;
  width:756px;
  height:608px;
  flex-shrink:2;
	object-position: right bottom;
 height:80%;
  z-index: 3;
  
  border: 2px solid red;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {

  position:absolute;

  top:64px;
  right:0;
  height: 568px;
  width: 568px;
  width:37%;
  flex-basis: 5px;
  height:70%;
  border: 2px solid green;
   background-color: #2f80ed;
}
.header__link{
text-decoration: none;
color: #2f80ed;
opacity: 1;
transition-property: opacity;
transition-duration: 0.5s;
transition-timing-function: ease;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.description{
  display:flex;
justify-content: center;

margin-top:100px;
margin-bottom:100px;
}
.two-columns{
  display: flex;
	width: 80%;
	justify-content: space-between;
}
.two-columns__brief{
width:175px;
line-height: 1.2;
	font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  
}
.two-columns__main-text{
width:80%;
min-width:784px;
}
.two-columns__paragraph{
  line-height: 34px;
	font-size: 24px;
  font-weight:normal;
  margin-top:30px;
  margin-bottom:0;
}
.two-columns__paragraph:first-child {
	margin-top: 0;
}
.two-columns__span-accent{
  line-height: 34px;
	font-size: 24px;
  font-weight:bold;
}
.digits{
  border: 2px solid red;
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.section-title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width:60%;
  margin-top:100px;
  margin-bottom:20px;
  text-align: center;
  border: 2px solid red;
}
.section-subtitle{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width:60%;
  margin-bottom:0;
  text-align: center;
  border: 2px solid red;
}
.table{
  width:1100px;
  margin:0 auto 100px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px solid red;
}
.table__cell{
  width:250px;
  margin-top:60px;
  border: 2px solid red;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid red;
}
.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  border: 2px solid red;
}